@import 'animations.scss';
@import 'colors.scss';

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  outline: none; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  overflow: hidden; }

body {
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; }

.loading-container {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  display: none; }

.loading {
  min-height: 200px;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotateZ(26deg);
  transform-style: preserve-3d;
  perspective: 40em;
  perspective-origin: 17em;
  
  h1 {
    transform: translateY(10rem) translateX(5rem) rotateZ(-26deg);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    animation: pulsate-fade 1.5s ease infinite; }
    
  .layer {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotateY(-70deg) skewX(-15deg);
    opacity: 0.9;
    animation: fly-in 3s cubic-bezier(0.5, 0, 0, 1) infinite;

    &.one {
      background-color: $color-primary;
      transform: translateZ(0) rotateY(-70deg) skewX(-15deg); }

    &.two {
      background-color: $color-secondary; 
      transform: translateZ(40px) rotateY(-70deg) skewX(-15deg); 
      animation-delay: .3s; }

    &.three {
      background-color: $color-tertiary;
      transform: translateZ(80px) rotateY(-70deg) skewX(-15deg); 
      animation-delay: .6s; } } }

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  
  .layers {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(.69,0,.3,.98);
    perspective: 10em;
    perspective-origin: 0;
    animation: perspective-breathe 8s infinite ease;
    
    &.transformed {
      top: 0;
      transform: translateX(-70px) scale(0.6) rotate3d(1,0,1, 20deg) skew(-11deg, 0deg);
      //perspective: 10em;
      //transition: all 1s cubic-bezier(.69,0,.3,.98);
      perspective-origin: 42em;
      //-webkit-animation: perspective-origin-breathe 40s infinite ease;
      
      @media (min-width: 568px) {
        perspective-origin: 78em; }
      
      @media (min-width: 737px) {
        perspective-origin: 90em; }
      
      @media (min-width: 768px) {
        perspective-origin: 80em; }
      
      @media (min-width: 1024px) {
        perspective-origin: 130%; }
      
      opacity: 1;
    
      .layer {
        opacity: 0.9;
        pointer-events: all; } }
    
    .layer {
      width: 100vw;
      pointer-events: none;
      height: 100vh;
      overflow: hidden;
      position: absolute;
      transition: 1s all cubic-bezier(0.43, 0.01, 0.32, 0.99);
      cursor: pointer;
      backface-visibility: hidden;
      backdrop-filter: blur(10px);
      
      &.front-remove-active, &.front-add {
        opacity: 0; }
      
      &.front-add-active {
        opacity: 1; }
      
      &.one {
        background: white;
        transform: translateZ(-30px);
          
        .layer-content {
          color: #000; }
      
        &:hover {
          transform: translateZ(-20px); }
    
        .text {
          margin: 0 auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          vertical-align: top;
          left: 0;
          right: 0;
          max-width: 290px;
          
          .content {
            opacity: 0;
            transform: translateY(20px);
            animation: come-in-from-bottom .6s cubic-bezier(1, 0, 0, 1) forwards;

            &.vertical-space {
              margin-top: 15px; }
            
            @for $i from 1 through 3 {
          
              &:nth-child(#{$i}) {
                animation-delay: ($i * .6) + 0s; } }
          
            &:nth-child(4) {
              animation-delay: 4s; } }

          p {
            margin: 0; } } }
      
      &.two {
        background: $color-primary;
        color: $white;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        transform: translateZ(-60px);
        
        &:hover {
          transform: translateZ(-50px); } }
      
      &.three {
        background: $color-secondary;
        transform: translateZ(-90px);
      
        &:hover { 
          transform: translateZ(-80px); } }
      
      &.four {
        background: $color-tertiary;
        transform: translateZ(-120px);
      
        &:hover {
          transform: translateZ(-110px); } } 
      
      &.five {
        background: $color-quinary;
        transform: translateZ(-150px);
      
        &:hover {
          transform: translateZ(-140px); } } 
      
      &.front {
        transform: translateZ(0);
        pointer-events: all;
        
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      
        &:hover {
          transform: translateZ(0); } } } } 
      
      .layer-content {
        padding: 80px 50px;
        max-width: 1300px;
        min-height: 100vh;
        margin: 0 auto;
        color: #fff;
        
        a, span.link {
          text-decoration: underline;
          color: #fff;
            
          &:link, &:visited {
            text-decoration: underline;
            color: #fff; }
          
          &:hover {
            color: rgba(black, 0.6); } } }
        
      .embed-container {
        background-color: rgba(0, 0, 0, 0.1);
        
        @media(min-width: 415px) {
          padding: 50px; }
        
        iframe {
          width: 100%;
          height: 600px;
          border: 0; } }

      .descriptor {
        transform: rotate(-90deg) translate3d(-23px,93px,0);
        position: fixed;
        z-index: 1;
        margin: 0;
        right: 0;
        top: 0;
        height: 40px;
        width: 210px;
        color: rgba(0, 0, 0, 0.8);
        
        &.white {
          color: rgba(white, 0.6);  } } }

.letter-container {
  position: relative;
  
  .letter {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    opacity: 0;
    
    &.expanded {
      opacity: 1;
        
        &:nth-child(1) {
          transform: translateX(7px); }
        
        &:nth-child(2) {
          transform: translateX(12px); }
        
        &:nth-child(3) {
          transform: translateX(20px); }
        
        &:nth-child(4) {
          transform: translateX(28px); }
        
        &:nth-child(5) {
          transform: translateX(36px); }
        
        &:nth-child(6) {
          transform: translateX(42px); }
        
        &:nth-child(7) {
          transform: translateX(49px); } } } }

button {
  cursor: pointer;
  -webkit-appearance: none;
  
  &.transparent {
    background-color: #fff;
    text-transform: uppercase;
    padding: .5rem;
    border: 1px solid #000;
    min-width: 100%;
    font-weight: bold;
    font-family: inherit; 
    &:hover {
      border-color: $color-primary;
      color: $color-primary; } }
  
  &.invisible {
    border: 0;
    background-color: transparent; }

  &.toggle-layers {
    background-color: rgba(black, 0.4);
    //background-image: url('../img/layer-toggler.png');
    //background-size: 70%;
    //background-position: 50%;
    //background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: 0; }

  &.see-layers {
    text-transform: uppercase;
    font-weight: bold;
  
    span {
      margin-left: 16px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 13px; } } }

.big-text {
  font-size: 2rem;
  letter-spacing: -1px;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  
  @media(min-width: 415px) {
    font-size: 3rem; } }

.fix-top-left {
  position: fixed;
  z-index: 1;
  backface-visibility: hidden;
  top: 50px;
  left: 50px;
  transform: translate3d(0,0,0); }

ul {
  &.technologies {
    list-style-type: none;
    padding: 0;
  
    li {
      display: inline-block;
      width: 25%;
      padding-top: 25%;
      background-size: 60%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
      position: relative;
      background-color: $color-primary;
      transition: 1s all cubic-bezier(1, 0, 0, 1);
    
      .text {
        opacity: 0;
        display: none;
        
        @media (min-width: 736px) {
          display: block; }
        transform: scale(0.9);
        padding: 15px;
        box-sizing: border-box;
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s all cubic-bezier(0.65, 0.01, 0, 1);
        backdrop-filter: blur(10px); }
    
      &:hover {
        
        .text {
          opacity: 1;
          transform: scale(1);
          overflow-y: auto;
          -webkit-overflow-scrolling: touch; } } } } }

i {
  
  &.icon {
    
    &.layers-icon {
      position: relative;
      width: 20px;
      height: 20px;
      display: inline-block;
      perspective: 25px;
      perspective-origin: 30px;
      transform: scale(1) rotate3d(1, -1, 0.2, 30deg) translate3d(0, 0, 0);
      transform-style: preserve-3d;
      margin-left: -7px;
      margin-top: 2px;
      overflow: visible;
      -webkit-backface-visibility: hidden; 

      &:before, &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 20px;
        height: 20px;
        transform: scale(1) translate3d(0, 0, -5px);
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden; }

      &:after {
        animation: 2s layer-fade-out ease infinite; } } } 
      
      &.white {
        background-color: white;
        
        &:before, &:after {
          border: 2px solid white; } }
      
      &.black {
        background-color: black;
        
        &:before, &:after {
          border: 2px solid black; } } }
      