@import 'colors.scss';

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  outline: none; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  backface-visibility: hidden;
  overflow: hidden; }

body {
  overflow: hidden;
  background: rgb(255,255,255); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; }

::-webkit-scrollbar{
  width: 3px;

  &-thumb{
  background-color: rgb(0, 0, 0); 
  transition: .6s opacity ease;
  border-radius: 2px;
  opacity: 0.7;
  
    &:hover{
    background-color: rgb(0, 0, 0);
    opacity: 1; } }

  &-track{
  background-color: rgb(255, 255, 255); } }

.loading-container {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  
  &.ng-leave {
    opacity: 1; }
  
  &.ng-leave-active {
    opacity: 0;
    transform: translateY(-100px); } }

.loading {
  min-height: 200px;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotateZ(26deg);
  transform-style: preserve-3d;
  perspective: 40em;
  perspective-origin: 17em;
  
  h1 {
    transform: translateY(10rem) translateX(5rem) rotateZ(-26deg);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    animation: pulsate-fade 1.5s ease infinite; }
    
  .layer {
    width: 90px;
    height: 90px;
    position: absolute;
    backface-visibility: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotateY(-70deg) skewX(-15deg);
    opacity: 0.9;
    animation: fly-in 3s cubic-bezier(0.5, 0, 0, 1) infinite;

    &.one {
      background-color: $color-primary;
      transform: translateZ(0) rotateY(-70deg) skewX(-15deg); }

    &.two {
      background-color: $color-secondary; 
      transform: translateZ(40px) rotateY(-70deg) skewX(-15deg); 
      animation-delay: .3s; }

    &.three {
      background-color: $color-tertiary;
      transform: translateZ(80px) rotateY(-70deg) skewX(-15deg); 
      animation-delay: .6s; } } }

.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px; }

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  background-image: url('../img/bg.png'), radial-gradient(ellipse at center, rgba(255,255,255,1) 25%,rgba(219,219,219,1) 100%);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 220px 182px, auto;
  
  .layers {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(.69,0,.3,.98);
    //@media(min-width: 1025px) {
      //transition: all 1s cubic-bezier(.69,0,.3,.98); }
    will-change: perspective, perspective-origin, transform;
    perspective: 10rem;
    animation: perspective-breathe 7s infinite ease;
    backface-visibility: hidden;
    perspective-origin: 50em;
      
    @media (min-width: 568px) {
      perspective-origin: 68em; }

    @media (min-width: 737px) {
      perspective-origin: 90em; }

    @media (min-width: 768px) {
      perspective-origin: 80em; }

    @media (min-width: 1024px) {
      perspective-origin: 140%; }
    
    &.transformed {
      transform: translate3d(-18rem, -8rem, 0) rotate3d(1, 0, 1, 60deg) skewX(-11deg);
      
      @media (min-width: 568px) {
        transform: translateX(-70px) scale(0.6) rotate3d(1,0,1, 20deg) skewX(-11deg); }
    
      .layer {
        opacity: 0.9;
        pointer-events: all;
      
        &.front-remove-active, &.front-add {
          opacity: 0.9; }
      
        &.one {
          transform: translateZ(-30px);
      
          &:hover {
            transform: translateZ(-20px); } } 
      
        &.two {
          transform: translateZ(-60px);
      
          &:hover {
            transform: translateZ(-50px); } } 
      
        &.three {
          transform: translateZ(-90px);
      
          &:hover {
            transform: translateZ(-80px); } } 
      
        &.four {
          transform: translateZ(-120px);
      
          &:hover {
            transform: translateZ(-110px); } } 
      
        &.five {
          transform: translateZ(-150px);
      
          &:hover {
            transform: translateZ(-140px); } }
        
        &.front {
          opacity: 0.9;
          transform: translateZ(0);
          z-index: 90;
      
          &:hover {
            transform: translateZ(-10px); } } } }
    
    .layer {
      width: 100vw;
      pointer-events: none;
      will-change: transform, opacity;
      height: 100vh;
      overflow: hidden;
      position: absolute;
      transition: .4s all cubic-bezier(0.43, 0.01, 0.32, 0.99);
      opacity: 0;
      cursor: pointer;
      backface-visibility: hidden;
      backdrop-filter: blur(10px);
      
      &.front-remove-active, &.front-add {
        opacity: 0; }
      
      &.front-add-active {
        opacity: 1; }
      
      &.one {
        background-color: white;
        z-index: 5;
          
        .layer-content {
          color: #000; }
    
        .text {
          margin: 0 auto;
          position: absolute;
          transform: translateY(-50%);
          vertical-align: top;
          top: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          
          max-width: 290px;
          width: 290px;
          
          max-height: 170px;
          height: 170px;
          
          button {
            height: 60px;
            font-family: inherit;
          
            span {
              margin-top: 10px;
              display: block;
              transition: .6s all cubic-bezier(0.52, -1.82, 0.19, 2.16);
              padding-right: 10px;
              float: right; } }
          
          .content {
            opacity: 0;
            transform: translateY(20px);
            animation: come-in-from-bottom .6s cubic-bezier(1, 0, 0, 1) forwards;

            &.vertical-space {
              margin-top: 15px; }
            
            @for $i from 1 through 3 {
          
              &:nth-child(#{$i}) {
                animation-delay: ($i * .6) + 0s; } }
          
            &:nth-child(4) {
              animation-delay: 4.5s; } }

          p {
            margin: 0; } } }
      
      &.two {
        z-index: 4;
        background-color: $color-primary;
        color: $white;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif; }
      
      &.three {
        z-index: 3;
        background-color: $color-secondary; }
      
      &.four {
        z-index: 2;
        background-color: $color-tertiary;
        background-image: url('../img/blood-bg.png');
        background-size: cover; } 
      
      &.five {
        z-index: 1;
        background-color: $color-quinary; } 
      
      &.front {
        pointer-events: all;
        opacity: 1;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        backface-visibility: hidden;
      
        &:hover {
          transform: translateZ(0); } } } } 
      
      .layer-content {
        backface-visibility: hidden;
        padding: 80px 29px;
        transition: all 1s cubic-bezier(0.8, 0, 0, 0.9);
        transition-delay: .8s;
        
        &.ng-enter {
          opacity: 0;
          transform: translateY(100px); }
        
        &.ng-enter-active {
          opacity: 1;
          transform: translateY(0px); }
        
        &.ng-leave {
          opacity: 1;
          transform: translateY(0px); }
        
        &.ng-leave-active {
          opacity: 0;
          transform: translateY(100px); }
        
        @media(min-width: 736px) {
          padding: 80px 49px; }
        
        max-width: 1300px;
        min-height: 100vh;
        margin: 0 auto;
        color: #fff;
        
        a, span.link {
          text-decoration: underline;
          color: #fff;
            
          &:link, &:visited {
            text-decoration: underline;
            color: #fff; }
          
          &:hover {
            color: rgba(black, 0.6); } }
        
      .embed-container {
        background-color: rgba(0, 0, 0, 0.1);
        
        @media(min-width: 415px) {
          padding: 50px; }
        
        iframe {
          width: 100%;
          height: 600px;
          border: 0; 
          
          &.instagram {
            max-height: 195px;
          
            @media (min-width: 375px) {
              max-height: 235px; }
          
            @media (min-width: 414px) {
              max-height: 264px; }
          
            @media (min-width: 480px) {
              max-height: 239px; }
          
            @media (min-width: 568px) {
              max-height: 305px; }
          
            @media (min-width: 667px) {
              max-height: 379px; }
          
            @media (min-width: 736px) {
              max-height: 401px; }
          
            @media (min-width: 1024) {
              max-height: 617px; }
          
            @media (min-width: 1170) {
              max-height: 800px; } } } } }

      .descriptor {
        transform: rotate(-90deg) translate(-23px,93px);
        position: absolute;
        z-index: 1;
        margin: 0;
        right: 0;
        top: 0;
        height: 40px;
        width: 210px;
        color: rgba(0, 0, 0, 0.6);
        
        &.white {
          color: rgba(white, 0.6);  } } }

.dance {
  animation: dance 2s ease infinite; }

.letter-container {
  position: relative;
  
  .letter {
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease;
    transition-delay: 2.5s;
    opacity: 0;
    backface-visibility: hidden;
    
    &.expanded {
      opacity: 1;
        
        &:nth-child(1) {
          transform: translateX(3px);
          transition-duration: .3s; }
        
        &:nth-child(2) {
          transform: translateX(8px);
          transition-duration: .6s; }
        
        &:nth-child(3) {
          transform: translateX(17px);
          transition-duration: .9s; }
        
        &:nth-child(4) {
          transform: translateX(26px);
          transition-duration: 1.2s; }
        
        &:nth-child(5) {
          transform: translateX(36px);
          transition-duration: 1.5s; }
        
        &:nth-child(6) {
          transform: translateX(42px);
          transition-duration: 1.8s; }
        
        &:nth-child(7) {
          transform: translateX(49px);
          transition-duration: 2.1s; } } } }

i {
  
  &.icon {
    
    &.layers-icon {
      transition: .6s all cubic-bezier(0.52, -1.82, 0.19, 2.16);
      position: relative;
      z-index: 2;
      width: 20px;
      height: 20px;
      
      display: block;
      float: left; 
      perspective: 25px;
      perspective-origin: 30px 26px;
      transform: rotate3d(1, -1, 0.2, 30deg) translateX(6px);
      margin-left: -7px;
      margin-top: 2px;
      overflow: visible;
      backface-visibility: hidden; 

      &:before, &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 20px;
        height: 20px;
        transform: scale(1) translate3d(0, 0, -5px);
        transform-style: preserve-3d;
        backface-visibility: hidden; }

      &:after {
        animation: 2s layer-fade-out ease infinite; } } } 
      
      &.white {
        background-color: white;
        
        &:before, &:after {
          border: 2px solid white; } }
      
      &.black {
        background-color: black;
        
        &:before, &:after {
          border: 2px solid black; } } }

button {
  cursor: pointer;
  -webkit-appearance: none;
  
  &.transparent {
    background-color: #fff;
    text-transform: uppercase;
    padding: .5rem;
    border: 1px solid #000;
    min-width: 100%;
    font-weight: bold;
    font-family: inherit; 
    &:hover {
      border-color: $color-primary;
      color: $color-primary; } }
  
  &.invisible {
    border: 0;
    background-color: transparent; }

  &.toggle-layers {
    background-color: rgba(black, 0.4);
    backdrop-filter: blur(10px);
    padding: 0;
    //background-image: url('../img/layer-toggler.png');
    //background-size: 70%;
    //background-position: 50%;
    //background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: 0;
    transition: .6s all cubic-bezier(0.52, -1.82, 0.19, 2.16);
    backface-visibility: hidden;
    will-change: transform, opacity, background-color;
    
    &:hover {
      transform: scale(1.5); }
    
    &:focus {
      transform: scale(1); }
    
    &.ng-enter {
      opacity: 0;
      transition-delay: .8s;
      transform: scale(0); }
  
    &.ng-enter-active, &.ng-leave {
      opacity: 1;
      transition-delay: .8s;
      transform: scale(1); }
  
    &.ng-leave-active {
      opacity: 0;
      transition-delay: .8s;
      transform: scale(0); }
  
    i.icon.layers-icon {
      transform: rotate3d(1, -1, 0.2, 30deg) translate3d(21px, -3px, 0); } }

  &.see-layers {
    text-transform: uppercase;
    font-weight: bold;
  
    span {
      margin-left: 20px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 13px; }
    
    &:hover {
      
      i {
        transform: scale(1.5) rotate3d(1, -1, 0.2, 30deg) translateX(6px); }
    
      span { 
        transform: translateX(10px); } } } }

.big-text {
  font-size: 2rem;
  letter-spacing: -1px;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  
  @media(min-width: 415px) {
    font-size: 3rem; } }

.fix-top-left {
  position: fixed;
  z-index: 1;
  backface-visibility: hidden;
  top: 30px;
  left: 30px;
  
  @media(min-width: 736px) {
    top: 50px;
    left: 50px; } }

ul {
  
  &.big-text {
    
    li {
      margin: 30px 0; } } 
  
  &.technologies {
    list-style-type: none;
    padding: 0;
    backface-visibility: hidden;
  
    li {
      display: inline-block;
      backface-visibility: hidden;
      width: 25%;
      padding-top: 25%;
      background-size: 60%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
      position: relative;
      background-color: $color-primary;
      transition: 1s all cubic-bezier(1, 0, 0, 1);
    
      .text {
        opacity: 0;
        display: none;
        
        @media (min-width: 736px) {
          display: block; }
        transform: scale(0.9);
        padding: 15px;
        box-sizing: border-box;
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s all cubic-bezier(0.65, 0.01, 0, 1);
        backdrop-filter: blur(10px); }
    
      &:hover {
        
        .text {
          opacity: 1;
          transform: scale(1);
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
          backface-visibility: hidden; } } } } }
      
/* ANIMATIONS */
@import 'animations.scss';