@import 'animations.scss';
@import 'colors.scss';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; }

.loading-container {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  display: none; }

.loading {
  min-height: 200px;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotateZ(26deg);
  perspective: 40em;
  perspective-origin: 17em;
  transform-style: preserve-3d;
  
  h1 {
    transform: translateY(10rem) translateX(5rem) rotateZ(-26deg);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    -webkit-animation: pulsate-fade 1.5s ease infinite; }
    
  .layer {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotateY(-70deg) skewX(-15deg);
    opacity: 0.9;
    -webkit-animation: fly-in 3s cubic-bezier(0.5, 0, 0, 1) infinite;

    &.one {
      background-color: $color-primary;
      transform: translateZ(0) rotateY(-70deg) skewX(-15deg); }

    &.two {
      background-color: $color-secondary;
      transform: translateZ(40px) rotateY(-70deg) skewX(-15deg); 
      -webkit-animation-delay: .3s; }

    &.three {
      background-color: $color-tertiary;
      transform: translateZ(80px) rotateY(-70deg) skewX(-15deg); 
      -webkit-animation-delay: .6s; } } }

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  
  .layers {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(.69,0,.3,.98);
    perspective: 10em;
    -webkit-animation: perspective-breathe 8s infinite ease;
    
    &.transformed {
      top: 0;
      transform: translateX(-70px) scale(0.6) rotate3d(1,0,1, 20deg) skew(-11deg, 0deg);
      //perspective: 10em;
      //transition: all 1s cubic-bezier(.69,0,.3,.98);
      perspective-origin: 42em;
      //-webkit-animation: perspective-origin-breathe 40s infinite ease;
      
      @media (min-width: 568px) {
        perspective-origin: 78em; }
      
      @media (min-width: 737px) {
        perspective-origin: 90em; }
      
      @media (min-width: 768px) {
        perspective-origin: 80em; }
      
      @media (min-width: 1024px) {
        perspective-origin: 120%; }
      
      opacity: 1;
    
      .layer {
        overflow: auto;
        opacity: 0.9; } }
    
    .layer {
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      transition: 1s all cubic-bezier(0.43, 0.01, 0.32, 0.99);
      cursor: pointer;
      -webkit-backdrop-filter: blur(10px);
      -moz-backdrop-filter: blur(10px);
      -o-backdrop-filter: blur(10px);
      -ms-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      
      &.front-remove-active, &.front-add {
        opacity: 0;
      }
      
      &.front-add-active {
        opacity: 1;
      }
      
      &.one {
        background: white;
        transform: translateZ(-30px);
      
        &:hover {
          transform: translateZ(-20px); }
    
        .text {
          margin: 0 auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          max-width: 290px;
          
          .content {
            opacity: 0;
            transform: translateY(20px);
            -webkit-animation: come-in-from-bottom .6s cubic-bezier(1, 0, 0, 1) forwards;

            &.vertical-space {
              margin-top: 15px; }
            
            @for $i from 1 through 3 {
          
              &:nth-child(#{$i}) {
                -webkit-animation-delay: ($i * .6) + 0s; } }
          
            &:nth-child(4) {
              -webkit-animation-delay: 4s; } }

          p {
            margin: 0; } } }
      
      &.two {
        background: $color-primary;
        color: $white;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        transform: translateZ(-60px);
        
        &:hover {
          transform: translateZ(-50px); }
      
        .layer-content {
          padding: 80px 50px;
          max-width: 1300px;
          margin: 0 auto;
        
          a {
            
            &:link, &:visited {
              text-decoration: underline;
              color: #fff; }
          
            &:hover {
              color: rgba(black, 0.6); } } } }
      
      &.three {
        background: $color-secondary;
        transform: translateZ(-90px);
      
        &:hover {
          transform: translateZ(-80px); } }
      
      &.four {
        background: $color-tertiary;
        transform: translateZ(-120px);
      
        &:hover {
          transform: translateZ(-110px); } } 
      
      &.five {
        background: $color-quarternary;
        transform: translateZ(-150px);
      
        &:hover {
          transform: translateZ(-140px); } } 
      
      &.front {
        transform: translateZ(0);
      
        &:hover {
          transform: translateZ(0); } } } } 

      .descriptor {
        color: rgba(0, 0, 0, 0.8);
        transform: rotate(-90deg) translate3d(-23px,93px,0);
        position: fixed;
        margin: 0;
        right: 0;
        top: 0;
        height: 40px;
        width: 210px; } }

.letter-container {
  position: relative;
  
  .letter {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    opacity: 0;
    
    &.expanded {
      opacity: 1;
        
        &:nth-child(1) {
          -webkit-transition-delay: .5s;
          transform: translateX(7px); }
        
        &:nth-child(2) {
          -webkit-transition-delay: .75s;
          transform: translateX(12px); }
        
        &:nth-child(3) {
          -webkit-transition-delay: 1s;
          transform: translateX(20px); }
        
        &:nth-child(4) {
          -webkit-transition-delay: 1.25s;
          transform: translateX(28px); }
        
        &:nth-child(5) {
          -webkit-transition-delay: 1.5s;
          transform: translateX(36px); }
        
        &:nth-child(6) {
          -webkit-transition-delay: 1.75s;
          transform: translateX(42px); }
        
        &:nth-child(7) {
          -webkit-transition-delay: 2s;
          transform: translateX(49px); } } } }

button {
  cursor: pointer;
  -webkit-appearance: none;
  
  &.transparent {
    background-color: #fff;
    text-transform: uppercase;
    padding: .5rem;
    border: 1px solid #000;
    min-width: 100%;
    font-weight: bold;
    font-family: inherit; 
    &:hover {
      border-color: $color-primary;
      color: $color-primary; } }
  
  &.invisible {
    border: 0;
    background-color: transparent; }

  &.toggle-layers {
    background-color: rgba(black, 0.2);
    //background-image: url('../img/layer-toggler.png');
    //background-size: 70%;
    //background-position: 50%;
    //background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: 0; }

  &.see-layers {
    text-transform: uppercase;
    font-weight: bold;
  
    span {
      margin-left: 16px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 13px; } } }

.big-text {
  font-size: 3rem;
  letter-spacing: -1px; }

.fix-top-left {
  position: fixed;
  top: 50px;
  left: 50px; }

ul {
  &.technologies {
    list-style-type: none;
    padding: 0;
  
    li {
      display: inline-block;
      width: 25%;
      padding-top: 25%;
      background-size: 60%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
      position: relative;
      background-color: $color-primary;
      transition: 1s all cubic-bezier(1, 0, 0, 1);
    
      .text {
        opacity: 0;
        transform: scale(0.9);
        padding: 15px;
        box-sizing: border-box;
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s all cubic-bezier(0.65, 0.01, 0, 1);
        backdrop-filter: blur(10px); }
    
      &:hover {
        
        .text {
          opacity: 1;
          transform: scale(1);
          overflow-y: auto;
          -webkit-overflow-scrolling: touch; } } } } }

i {
  
  &.icon {
    
    &.layers {
      position: relative;
      width: 20px;
      height: 20px;
      display: inline-block;
      perspective: 25px;
      perspective-origin: 30px;
      transform: rotate3d(1, -1, 0.2, 30deg) translateZ(0);
      margin-left: -7px;
      margin-top: 2px;
      overflow: visible;
      -webkit-backface-visibility: hidden;

      &:before, &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 20px;
        height: 20px;
        transform: translateZ(-5px); }

      &:after {
        -webkit-animation: 2s layer-fade-out ease infinite; } } } 
      
      &.white {
        background-color: white;
        
        &:before, &:after {
          border: 2px solid white; } }
      
      &.black {
        background-color: black;
        
        &:before, &:after {
          border: 2px solid black; } } }
      