<!DOCTYPE html>
<html ng-app="tejas" ng-controller="site">
  <head>
    <title>Front End Web Developer, Musician, Hemophiliac - Tejas Kumar</title>
    <meta name="description" content="The website of a front-end web developer, musician, hemophiliac and human being who enjoys people, technology and food.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Exo+2:400,100,200,300,600,700,800,900|Open+Sans+Condensed:700,300|Montserrat:400">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <button data-ng-click="layers.open ? layers.open = false : layers.open = true" data-ng-show="layer.active !== 'home' &amp;&amp; !layers.open" data-ng-if="layer.active !== 'home' &amp;&amp; !layers.open" class="toggle-layers ng-hide fix-top-left"><i class="icon layers-icon white"></i></button>
      <div id="layers" data-ng-class="{ transformed: layers.open }" class="layers">
        <div data-layer="0" data-ng-class="{front: layer.active === 'home'}" class="layer one">
          <div class="layer-content">
            <div class="text">
              <h1 class="content">Hello</h1>
              <p class="content">My name is Tejas Kumar.</p>
              <p class="content">I am a person of many <span id="letter-container" class="letter-container"><span data-expand-letter class="letter">l</span><span data-expand-letter class="letter">a</span><span data-expand-letter class="letter">y</span><span data-expand-letter class="letter">e</span><span data-expand-letter class="letter">r</span><span data-expand-letter class="letter">s</span><span data-expand-letter class="letter">.</span></span></p>
              <button ng-click="layers.open ? layers.open = false : layers.open = true" class="content vertical-space invisible see-layers"><i class="icon layers-icon black"> </i><span>See Layers</span></button>
            </div>
          </div>
        </div>
        <div data-layer="1" data-ng-class="{front: layer.active === 'work'}" class="layer two">
          <h1 class="descriptor">Work</h1>
          <div ng-if="layer.active === 'work'" class="layer-content">
            <section>
              <p class="big-text">I create beautiful things with technology, currently for a company called <a target="_blank" href="http://grow.qa" rel="noindex">grow</a>. I believe in beautiful products &mdash; inside and out: from code to user interface.</p>
              <p class="big-text">Below are some of the technologies I love and use on a daily basis.</p>
              <ul class="technologies">
                <li data-ng-repeat="tech in technologies" data-ng-class="tech" style="background-image: url('img/tech/{{tech.slug}}.png')">
                  <div data-ng-bind-html="tech.text" class="text"></div>
                </li>
              </ul>
            </section>
          </div>
        </div>
        <div data-layer="2" data-ng-class="{front: layer.active === 'music'}" class="layer three">
          <h1 class="descriptor">Music</h1>
          <div data-ng-if="layer.active === 'music'" class="layer-content">
            <section>
              <p class="big-text">I love music. I play the guitar, the bass, and <em>my vocal cords</em>. I sometimes write songs and dabble in audio production. </p>
              <p class="big-text">I also <em>teach</em> music. </p>
              <p class="big-text"><span class="link" ng-click="layer.active = 'contact'">Get in touch</span> if you&rsquo;re interested in learning music or just jamming. Below is some music I&rsquo;ve made.</p>
            </section>
            <div class="embed-container">
              <iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/7808007&amp;amp;auto_play=false&amp;amp;hide_related=false&amp;amp;show_comments=true&amp;amp;show_user=true&amp;amp;show_reposts=false&amp;amp;visual=true"></iframe>
            </div>
          </div>
        </div>
        <div data-layer="3" data-ng-class="{front: layer.active === 'personal'}" class="layer four">
          <h1 class="descriptor white">About</h1>
          <div data-ng-if="layer.active === 'personal'" class="layer-content">
            <section>
              <p class="big-text">I was born with <a href="http://en.wikipedia.org/wiki/Hemophilia" rel="nofollow" target="_blank">hemophilia</a>. It&rsquo;s nasty. I&rsquo;ve lived with it all my life. Living with hemophilia, I could not do many things that regular folk can do: like go to school regularly as a child. In a year, I would attend about <em>two weeks</em> worth of school.</p>
              <p class="big-text">Because of this, I had a lot of free time to do whatever interested me. I spent that free time playing with &mdash; and eventually getting really good at &mdash; <em>computer stuff</em>.</p>
              <p class="big-text">I&rsquo;ve lived in <a href="http://en.wikipedia.org/wiki/Qatar" rel="nofollow" target="_blank">Qatar</a> for the past 18 years. I believe in miracles. Why? I&rsquo;m glad you asked:
                <ul class="big-text">
                  <li>Hemophilia can be deadly if not treated.</li>
                  <li>Treatment is expensive: it would cost about &dollar;17,000 <em>per week</em> to keep me healthy today.</li>
                  <li>My family was relocated to Qatar in 1997. Qatar was relatively unknown in 1997.</li>
                  <li>Shortly after moving here, my family found out this country is one of the only countries in the <em>world</em> where this treatment is free for expats.</li>
                </ul>
              </p>
              <p class="big-text">Miracles are real. If you&rsquo;d like to talk, <span class="link" ng-click="layer.active = 'contact'">hit me up</span>.</p>
            </section>
          </div>
        </div>
        <div data-layer="4" data-ng-class="{front: layer.active === 'contact'}" class="layer five">
          <h1 class="descriptor white">Contact</h1>
          <div data-ng-if="layer.active === 'contact'" class="layer-content">
            <section>
              <p class="big-text">If you&rsquo;d like to get in touch, <a href="mailto:hello@tej.as">send me an email</a>. I can also be found on <a href="http://fb.com/tejaskumar" rel="nofollow" target="_blank">facebook</a>, <a href="http://twitter.com/tejaskumar_" rel="nofollow" target="_blank">twitter</a> and <a href="http://instagram.com/tejaskumar" rel="nofollow" target="_blank">instagram.</a> I look forward to hearing from you!</p>
              <div class="embed-container">
                <iframe src="//instansive.com/widgets/59b0d69e741e7345987d6afe43fbd6a3efdfb655.html" allowtransparency="true" class="instagram"></iframe>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-3981384-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>