@-webkit-keyframes fly-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw) rotateY(-70deg) skewX(-15deg);
            transform: translateX(-100vw) rotateY(-70deg) skewX(-15deg); }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0) rotateY(-70deg) skewX(-15deg);
            transform: translateX(0) rotateY(-70deg) skewX(-15deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100vw) rotateY(-70deg) skewX(-15deg);
            transform: translateX(100vw) rotateY(-70deg) skewX(-15deg); } }
@keyframes fly-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw) rotateY(-70deg) skewX(-15deg);
            transform: translateX(-100vw) rotateY(-70deg) skewX(-15deg); }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0) rotateY(-70deg) skewX(-15deg);
            transform: translateX(0) rotateY(-70deg) skewX(-15deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100vw) rotateY(-70deg) skewX(-15deg);
            transform: translateX(100vw) rotateY(-70deg) skewX(-15deg); } }
@-webkit-keyframes pulsate-fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes pulsate-fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes come-in-from-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes come-in-from-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes layer-fade-out {
  100% {
    -webkit-transform: translateZ(-40px);
            transform: translateZ(-40px);
    opacity: 0; } }
@keyframes layer-fade-out {
  100% {
    -webkit-transform: translateZ(-40px);
            transform: translateZ(-40px);
    opacity: 0; } }
@-webkit-keyframes perspective-breathe {
  50% {
    -webkit-perspective: 9rem;
            perspective: 9rem; }
  100% {
    -webkit-perspective: 10rem;
            perspective: 10rem; } }
@keyframes perspective-breathe {
  50% {
    -webkit-perspective: 9rem;
            perspective: 9rem; }
  100% {
    -webkit-perspective: 10rem;
            perspective: 10rem; } }
@-webkit-keyframes dance {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(-10deg) translateY(30px) translateX(15px);
            transform: rotate(-10deg) translateY(30px) translateX(15px); }
  12.5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(-10deg) translateY(10px) translateX(15px);
            transform: rotate(-10deg) translateY(10px) translateX(15px); }
  25% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(-10deg) translateY(30px) translateX(15px);
            transform: rotate(-10deg) translateY(30px) translateX(15px); }
  37.5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(0deg) translateY(10px) translateX(15px);
            transform: rotate(0deg) translateY(10px) translateX(15px); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(10deg) translateY(30px) translateX(15px);
            transform: rotate(10deg) translateY(30px) translateX(15px); }
  62.5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(10deg) translateY(10px) translateX(15px);
            transform: rotate(10deg) translateY(10px) translateX(15px); }
  75% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(10deg) translateY(30px) translateX(15px);
            transform: rotate(10deg) translateY(30px) translateX(15px); }
  87.5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(0deg) translateY(10px) translateX(15px);
            transform: rotate(0deg) translateY(10px) translateX(15px); }
  100% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(-10deg) translateY(30px) translateX(15px);
            transform: rotate(-10deg) translateY(30px) translateX(15px); } }
@keyframes dance {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(-10deg) translateY(30px) translateX(15px);
            transform: rotate(-10deg) translateY(30px) translateX(15px); }
  12.5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(-10deg) translateY(10px) translateX(15px);
            transform: rotate(-10deg) translateY(10px) translateX(15px); }
  25% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(-10deg) translateY(30px) translateX(15px);
            transform: rotate(-10deg) translateY(30px) translateX(15px); }
  37.5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(0deg) translateY(10px) translateX(15px);
            transform: rotate(0deg) translateY(10px) translateX(15px); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(10deg) translateY(30px) translateX(15px);
            transform: rotate(10deg) translateY(30px) translateX(15px); }
  62.5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(10deg) translateY(10px) translateX(15px);
            transform: rotate(10deg) translateY(10px) translateX(15px); }
  75% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(10deg) translateY(30px) translateX(15px);
            transform: rotate(10deg) translateY(30px) translateX(15px); }
  87.5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(0deg) translateY(10px) translateX(15px);
            transform: rotate(0deg) translateY(10px) translateX(15px); }
  100% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(-10deg) translateY(30px) translateX(15px);
            transform: rotate(-10deg) translateY(30px) translateX(15px); } }

/*# sourceMappingURL=animations.css.map */