@-webkit-keyframes fly-in {
  0% {
    opacity: 0;
    transform: translateX(-100vw) rotateY(-70deg) skewX(-15deg); }
  50% {
    opacity: 1;
    transform: translateX(0) rotateY(-70deg) skewX(-15deg); }
  100% {
    opacity: 0;
    transform: translateX(100vw) rotateY(-70deg) skewX(-15deg); } }
@-webkit-keyframes pulsate-fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes come-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes layer-fade-out {
  100% {
    transform: translateZ(-40px);
    opacity: 0; } }
@-webkit-keyframes perspective-breathe {
  50% {
    perspective: 9em; }
  100% {
    perspective: 10em; } }
@-webkit-keyframes perspective-origin-breathe {
  50% {
    perspective-origin: 20em; }
  100% {
    perspective-origin: 25em; } }
@media (min-width: 415px) {
  @-webkit-keyframes perspective-origin-breathe {
    50% {
      perspective-origin: 50em; }
    100% {
      perspective-origin: 55em; } } }
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; }

.loading-container {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  display: none; }

.loading {
  min-height: 200px;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotateZ(26deg);
  perspective: 40em;
  perspective-origin: 17em;
  transform-style: preserve-3d; }
  .loading h1 {
    transform: translateY(10rem) translateX(5rem) rotateZ(-26deg);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    -webkit-animation: pulsate-fade 1.5s ease infinite; }
  .loading .layer {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotateY(-70deg) skewX(-15deg);
    opacity: 0.9;
    -webkit-animation: fly-in 3s cubic-bezier(0.5, 0, 0, 1) infinite; }
    .loading .layer.one {
      background-color: #0FA3B1;
      transform: translateZ(0) rotateY(-70deg) skewX(-15deg); }
    .loading .layer.two {
      background-color: #F06449;
      transform: translateZ(40px) rotateY(-70deg) skewX(-15deg);
      -webkit-animation-delay: .3s; }
    .loading .layer.three {
      background-color: #5D4E60;
      transform: translateZ(80px) rotateY(-70deg) skewX(-15deg);
      -webkit-animation-delay: .6s; }

.container {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .container .layers {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(0.69, 0, 0.3, 0.98);
    perspective: 10em;
    -webkit-animation: perspective-breathe 8s infinite ease; }
    .container .layers.transformed {
      top: 0;
      transform: translateX(-70px) scale(0.6) rotate3d(1, 0, 1, 20deg) skew(-11deg, 0deg);
      perspective-origin: 42em;
      opacity: 1; }
      @media (min-width: 568px) {
        .container .layers.transformed {
          perspective-origin: 78em; } }
      @media (min-width: 737px) {
        .container .layers.transformed {
          perspective-origin: 90em; } }
      @media (min-width: 768px) {
        .container .layers.transformed {
          perspective-origin: 80em; } }
      @media (min-width: 1024px) {
        .container .layers.transformed {
          perspective-origin: 120%; } }
      .container .layers.transformed .layer {
        overflow: auto;
        opacity: 0.9; }
    .container .layers .layer {
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      transition: 1s all cubic-bezier(0.43, 0.01, 0.32, 0.99);
      cursor: pointer;
      -webkit-backdrop-filter: blur(10px);
      -moz-backdrop-filter: blur(10px);
      -o-backdrop-filter: blur(10px);
      -ms-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px); }
      .container .layers .layer.front-remove-active, .container .layers .layer.front-add {
        opacity: 0; }
      .container .layers .layer.front-add-active {
        opacity: 1; }
      .container .layers .layer.one {
        background: white;
        transform: translateZ(-30px); }
        .container .layers .layer.one:hover {
          transform: translateZ(-20px); }
        .container .layers .layer.one .text {
          margin: 0 auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          max-width: 290px; }
          .container .layers .layer.one .text .content {
            opacity: 0;
            transform: translateY(20px);
            -webkit-animation: come-in-from-bottom 0.6s cubic-bezier(1, 0, 0, 1) forwards; }
            .container .layers .layer.one .text .content.vertical-space {
              margin-top: 15px; }
            .container .layers .layer.one .text .content:nth-child(1) {
              -webkit-animation-delay: 0.6s; }
            .container .layers .layer.one .text .content:nth-child(2) {
              -webkit-animation-delay: 1.2s; }
            .container .layers .layer.one .text .content:nth-child(3) {
              -webkit-animation-delay: 1.8s; }
            .container .layers .layer.one .text .content:nth-child(4) {
              -webkit-animation-delay: 4s; }
          .container .layers .layer.one .text p {
            margin: 0; }
      .container .layers .layer.two {
        background: #0FA3B1;
        color: #F7F9F9;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        transform: translateZ(-60px); }
        .container .layers .layer.two:hover {
          transform: translateZ(-50px); }
        .container .layers .layer.two .layer-content {
          padding: 80px 50px;
          max-width: 1300px;
          margin: 0 auto; }
          .container .layers .layer.two .layer-content a:link, .container .layers .layer.two .layer-content a:visited {
            text-decoration: underline;
            color: #fff; }
          .container .layers .layer.two .layer-content a:hover {
            color: rgba(0, 0, 0, 0.6); }
      .container .layers .layer.three {
        background: #F06449;
        transform: translateZ(-90px); }
        .container .layers .layer.three:hover {
          transform: translateZ(-80px); }
      .container .layers .layer.four {
        background: #5D4E60;
        transform: translateZ(-120px); }
        .container .layers .layer.four:hover {
          transform: translateZ(-110px); }
      .container .layers .layer.five {
        background: #2D2D2A;
        transform: translateZ(-150px); }
        .container .layers .layer.five:hover {
          transform: translateZ(-140px); }
      .container .layers .layer.front {
        transform: translateZ(0); }
        .container .layers .layer.front:hover {
          transform: translateZ(0); }
  .container .descriptor {
    color: rgba(0, 0, 0, 0.8);
    transform: rotate(-90deg) translate3d(-23px, 93px, 0);
    position: fixed;
    margin: 0;
    right: 0;
    top: 0;
    height: 40px;
    width: 210px; }

.letter-container {
  position: relative; }
  .letter-container .letter {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    opacity: 0; }
    .letter-container .letter.expanded {
      opacity: 1; }
      .letter-container .letter.expanded:nth-child(1) {
        -webkit-transition-delay: .5s;
        transform: translateX(7px); }
      .letter-container .letter.expanded:nth-child(2) {
        -webkit-transition-delay: .75s;
        transform: translateX(12px); }
      .letter-container .letter.expanded:nth-child(3) {
        -webkit-transition-delay: 1s;
        transform: translateX(20px); }
      .letter-container .letter.expanded:nth-child(4) {
        -webkit-transition-delay: 1.25s;
        transform: translateX(28px); }
      .letter-container .letter.expanded:nth-child(5) {
        -webkit-transition-delay: 1.5s;
        transform: translateX(36px); }
      .letter-container .letter.expanded:nth-child(6) {
        -webkit-transition-delay: 1.75s;
        transform: translateX(42px); }
      .letter-container .letter.expanded:nth-child(7) {
        -webkit-transition-delay: 2s;
        transform: translateX(49px); }

button {
  cursor: pointer;
  -webkit-appearance: none; }
  button.transparent {
    background-color: #fff;
    text-transform: uppercase;
    padding: .5rem;
    border: 1px solid #000;
    min-width: 100%;
    font-weight: bold;
    font-family: inherit; }
    button.transparent:hover {
      border-color: #0FA3B1;
      color: #0FA3B1; }
  button.invisible {
    border: 0;
    background-color: transparent; }
  button.toggle-layers {
    background-color: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    border: 0; }
  button.see-layers {
    text-transform: uppercase;
    font-weight: bold; }
    button.see-layers span {
      margin-left: 16px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 13px; }

.big-text {
  font-size: 3rem;
  letter-spacing: -1px; }

.fix-top-left {
  position: fixed;
  top: 50px;
  left: 50px; }

ul.technologies {
  list-style-type: none;
  padding: 0; }
  ul.technologies li {
    display: inline-block;
    width: 25%;
    padding-top: 25%;
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: relative;
    background-color: #0FA3B1;
    transition: 1s all cubic-bezier(1, 0, 0, 1); }
    ul.technologies li .text {
      opacity: 0;
      transform: scale(0.9);
      padding: 15px;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: 1s all cubic-bezier(0.65, 0.01, 0, 1);
      backdrop-filter: blur(10px); }
    ul.technologies li:hover .text {
      opacity: 1;
      transform: scale(1);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; }

i.icon.layers {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  perspective: 25px;
  perspective-origin: 30px;
  transform: rotate3d(1, -1, 0.2, 30deg) translateZ(0);
  margin-left: -7px;
  margin-top: 2px;
  overflow: visible;
  -webkit-backface-visibility: hidden; }
  i.icon.layers:before, i.icon.layers:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 20px;
    height: 20px;
    transform: translateZ(-5px); }
  i.icon.layers:after {
    -webkit-animation: 2s layer-fade-out ease infinite; }
i.white {
  background-color: white; }
  i.white:before, i.white:after {
    border: 2px solid white; }
i.black {
  background-color: black; }
  i.black:before, i.black:after {
    border: 2px solid black; }

/*# sourceMappingURL=main.css.map */
